<header>
	<h1 class="h3 display">Команда</h1>
</header>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div>
					<form [formGroup]="formWithdrawEther">
						<div class="form-group row">
							<label class="col-sm-12 col-md-3 form-control-label">Вывести собранные ETH на адрес</label>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input class="form-control" type="text" formControlName="output" placeholder="Адрес">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formWithdrawEther.valid" (click)="runWithdrawEther()" type="button" class="btn btn-primary">Выполнить</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div>
					<form [formGroup]="formSelectNextHost">
						<div class="form-group row">
							<label class="col-sm-12 col-md-3 form-control-label">Установить следующего ведущего</label>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input class="form-control" type="text" formControlName="host" placeholder="Адрес">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formSelectNextHost.valid" (click)="runSelectNextHost()" type="button" class="btn btn-primary">Выполнить</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div>
					<form [formGroup]="formChangeTheGuest">
						<div class="form-group row">
							<label class="col-sm-12 col-md-3 form-control-label">Сменить гостя</label>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input
											pTooltip="Позволяет изменить следующего гостя легальным путем. Если следующий гость уже выбран и у него есть DZT на кону, то используя данный метод с адресом нового гостя: старый гость получит DZT обратно, а новый станет следующим гостем. Этот метод можно вызвать только если следующий гость уже выбран и у нового гостя есть достаточно DZT."
											tooltipPosition="top"
											class="form-control" 
											type="text" 
											formControlName="guest" 
											placeholder="Адрес">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formChangeTheGuest.valid" (click)="runChangeTheGuest()" type="button" class="btn btn-primary">Выполнить</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div>
					<form [formGroup]="formEmergencyChangeTheGuest">
						<div class="form-group row">
							<label class="col-sm-12 col-md-3 form-control-label">Экстренно сменить гостя</label>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input
											pTooltip="Экстренный гость отличается от обычного гостя тем, что у обычного стоят DZT на кону. Если обычный гость не приходит на шоу, то его DZT сгорают. У экстренного гостя нет никаких DZT на кону. Этот метод можно вызвать только если следующий гость уже выбран."
											tooltipPosition="top"
											class="form-control" 
											type="text" 
											formControlName="guest" 
											placeholder="Адрес">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formEmergencyChangeTheGuest.valid" (click)="runEmergencyChangeTheGuest()" type="button" class="btn btn-primary">Выполнить</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div>
					<form [formGroup]="formMoveToNextEpisode">
						<div class="form-group row">
							<label class="col-sm-12 col-md-3 form-control-label">Текущий эпизод завершился</label>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<select formControlName="guestHasCome" class="form-control" placeholder="Начислить репутацию гостю?">
											<option value="true">Да</option>
											<option value="false">Нет</option>
										</select>
										<span class="text-small text-gray help-block-none">Начислить репутацию гостю?</span>
									</div>
									<div class="col-md-4">
										<button [disabled]="!formMoveToNextEpisode.valid" (click)="runMoveToNextEpisode()" type="button" class="btn btn-primary">Выполнить</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
