:host >>> .mat-grid-tile .mat-figure {
	align-items: end;
	justify-content: end;
}

.card-team {
	width: 100%;
}

.method-row {
	display: flex;
	align-items: baseline;
}

.method-row .method-desc {
	flex-grow: 1;
	flex-basis: 0;
}

.method-row .method-param {
	flex-grow: 1;
	flex-basis: 0;
}

.method-row .method-btn {
	margin-left: 5%;
}