<header>
	<h1 class="h3 display">Team</h1>
</header>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div>
					<form [formGroup]="formWithdrawEther">
						<div class="form-group row">
							<label class="col-sm-12 col-md-3 form-control-label">Withdraw collected ETH to address</label>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input class="form-control" type="text" formControlName="output" placeholder="Address">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formWithdrawEther.valid" (click)="runWithdrawEther()" type="button" class="btn btn-primary">Execute</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div>
					<form [formGroup]="formSelectNextHost">
						<div class="form-group row">
							<label class="col-sm-12 col-md-3 form-control-label">Select the next host</label>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input class="form-control" type="text" formControlName="host" placeholder="Address">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formSelectNextHost.valid" (click)="runSelectNextHost()" type="button" class="btn btn-primary">Execute</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div>
					<form [formGroup]="formChangeTheGuest">
						<div class="form-group row">
							<label class="col-sm-12 col-md-3 form-control-label">Change the guest</label>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input
											pTooltip="Allows to change the next guest in 'legal' way. If the next guest is already selected and he has DZT at stake then using this method with address of a new guest: old guest will get DZT back and the new one will become the next guest. This method can be called only if the next guest is already selected and the next guest has enough DZT."
											tooltipPosition="top"
											class="form-control" 
											type="text" 
											formControlName="guest" 
											placeholder="Address">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formChangeTheGuest.valid" (click)="runChangeTheGuest()" type="button" class="btn btn-primary">Execute</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div>
					<form [formGroup]="formEmergencyChangeTheGuest">
						<div class="form-group row">
							<label class="col-sm-12 col-md-3 form-control-label">Emergency change the guest</label>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input
											pTooltip="The difference between emergency guest and ordinary guest is that ordinary guest has DZT at stake. If ordinary guest doesn't come to the show then his DZT at stake are burnt. Emergency guest doesn't have DZT at stake. This method can be called only if the next guest is already selected."
											tooltipPosition="top"
											class="form-control" 
											type="text" 
											formControlName="guest" 
											placeholder="Address">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formEmergencyChangeTheGuest.valid" (click)="runEmergencyChangeTheGuest()" type="button" class="btn btn-primary">Execute</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div>
					<form [formGroup]="formMoveToNextEpisode">
						<div class="form-group row">
							<label class="col-sm-12 col-md-3 form-control-label">Move to next episode</label>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<select formControlName="guestHasCome" class="form-control" placeholder="Mint DZTREP to guest?">
											<option value="true">Yes</option>
											<option value="false">No</option>
										</select>
										<span class="text-small text-gray help-block-none">Mint DZTREP to guest?</span>
									</div>
									<div class="col-md-4">
										<button [disabled]="!formMoveToNextEpisode.valid" (click)="runMoveToNextEpisode()" type="button" class="btn btn-primary">Execute</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
