<h2>Главная</h2>

<!-- <div>
	<div>
		<mat-card class="dashboard-card card-next-episode">

			<mat-card-content>
				
				<h3>Следующий эпизод</h3>

				<mat-spinner *ngIf="loading" diameter="50"></mat-spinner>

				<div *ngIf="!loading">
					<div class="param-row">
						<div class="param-name">Следующий организатор</div>
						<div>{{ nextEpisode.nextShowHost }}</div>
					</div>

					<div class="param-row">
						<div class="param-name">Следующий гость</div>
						<div>{{ nextEpisode.nextShowGuest }}</div>
					</div>

					<div class="param-row">
						<div class="param-name">Предыдущий организатор</div>
						<div>{{ nextEpisode.prevShowHost }}</div>
					</div>

					<div class="param-row">
						<div class="param-name">Предыдущий гость</div>
						<div>{{ nextEpisode.prevShowGuest }}</div>
					</div>

					<div class="param-row">
						<div class="param-name">Занятые рекламные слоты</div>
						<div>{{ nextEpisode.usedSlots }}</div>
					</div>

					<div class="param-row">
						<div class="param-name">Экстренный гость</div>
						<div>{{ nextEpisode.isEmergencyGuest }}</div>
					</div>
				</div>

			</mat-card-content>
		</mat-card>
	</div>

	<div class="card-params-container">
		<mat-card class="dashboard-card card-params">
			<mat-card-content>
				
				<h3>Параметры DAO</h3>

				<mat-spinner *ngIf="loading" diameter="50"></mat-spinner>
	
				<div *ngIf="!loading">
					<div class="param-row">
						<div class="param-name">Кол-во DZT, создаваемых каждую неделю</div>
						<div>{{ params.mintTokensPerWeekAmount }}</div>
					</div>
		
					<div class="param-row">
						<div class="param-name">Кол-во DZTREP, создаваемых каждую неделю</div>
						<div>{{ params.mintReputationTokensPerWeekAmount }}</div>
					</div>
		
					<div class="param-row">
						<div class="param-name">Цена за 1 DZT в ETH</div>
						<div>{{ params.oneTokenPriceInWei }}</div>
					</div>
		
					<div class="param-row">
						<div class="param-name">Цена за 1 рекламный слот в DZT</div>
						<div>{{ params.oneAdSlotPrice }}</div>
					</div>
		
					<div class="param-row">
						<div class="param-name">Залог гостя в DZT</div>
						<div>{{ params.becomeGuestStake }}</div>
					</div>
		
					<div class="param-row">
						<div class="param-name">Награда организатора за эпизод в DZTREP</div>
						<div>{{ params.repTokensReward_Host }}</div>
					</div>
		
					<div class="param-row">
						<div class="param-name">Награда гостя за эпизод в DZTREP</div>
						<div>{{ params.repTokensReward_Guest }}</div>
					</div>
		
					<div class="param-row">
						<div class="param-name">Награда всех членов команды за эпизод в DZTREP</div>
						<div>{{ params.repTokensReward_TeamMembers }}</div>
					</div>
				</div>
	
			</mat-card-content>
		</mat-card>
	</div>

</div> -->
