<h2>Главная</h2>

<mat-grid-list cols="2">

	<mat-grid-tile>
		<mat-card class="card-next-episode">

			<mat-card-content>
				
				<h3>Следующий эпизод</h3>

				<div class="episode-row">
					<div class="episode-param">Следующий организатор</div>
					<div>0x0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Следующий гость</div>
					<div>0x0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Предыдущий организатор</div>
					<div>0x0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Предыдущий гость</div>
					<div>0x0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Рекламные слоты</div>
					<div></div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Экстренный гость</div>
					<div>Нет</div>
				</div>

			</mat-card-content>
		</mat-card>
	</mat-grid-tile>

	<mat-grid-tile>
		<mat-card class="card-next-episode">
			<mat-card-content>
				
				<h3>Параметры DAO</h3>

				<div class="episode-row">
					<div class="episode-param">Кол-во DZT, создаваемых каждую неделю</div>
					<div>0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Кол-во DZTREP, создаваемых каждую неделю</div>
					<div>0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Цена за 1 DZT в ETH</div>
					<div>0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Цена за 1 рекламный слот в DZT</div>
					<div>0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Залог гостя в DZT</div>
					<div>0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Награда организатора за эпизод в DZTREP</div>
					<div>0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Награда гостя за эпизод в DZTREP</div>
					<div>0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Награда всех членов команды за эпизод в DZTREP</div>
					<div>0</div>
				</div>

			</mat-card-content>
		</mat-card>
	</mat-grid-tile>

</mat-grid-list>