.dashboard-card {
	min-width: 70%;
}

.dashboard-card .param-row {
	display: flex;
    flex-direction: row;
    padding-bottom: 1%;
}

.dashboard-card .param-name {
	flex-grow: 1;
}

.card-params-container {
	padding-top: 1%;
}