<h2>Следующий эпизод</h2>

<mat-grid-list cols="2">

	<mat-grid-tile>
		<mat-card class="card-next-episode">
			<mat-card-content>
				
				<div class="episode-row">
					<div class="episode-param">Следующий организатор</div>
					<div>0x0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Следующий гость</div>
					<div>0x0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Предыдущий организатор</div>
					<div>0x0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Предыдущий гость</div>
					<div>0x0</div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Рекламные слоты</div>
					<div></div>
				</div>

				<div class="episode-row">
					<div class="episode-param">Экстренный гость</div>
					<div>Нет</div>
				</div>

			</mat-card-content>
		</mat-card>
	</mat-grid-tile>

</mat-grid-list>