<header>
	<h1 class="h3 display">Proposals</h1>
</header>

<div *ngIf="loading" class="row">
	<div class="col-lg-12 text-center">
		<p-progressSpinner></p-progressSpinner>
	</div>
</div>

<div *ngIf="!loading" class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Params</th>
								<th>Yes</th>
								<th>No</th>
								<th>Total</th>
								<th>Status</th>
								<th>Result</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let proposal of proposals">
								<td>{{ proposal.data[3] | readableMethodSign }}</td>
								<td>
									<div *ngFor="let paramValue of proposal.data[4]; let i = index">{{ paramValue | readableMethodParam:proposal.data[3]:i }}</div>
								</td>
								<td>{{ proposal.data[0].yesResults }}</td>
								<td>{{ proposal.data[0].noResults }}</td>
								<td>{{ +proposal.data[0].yesResults + +proposal.data[0].noResults }}/{{ proposal.data[0].votersTotal }}</td>
								<td>{{ proposal.data[1] ? 'Finished' : 'Not finished' }}</td>
								<td>
									<span *ngIf="proposal.data[1]">{{ proposal.data[2] ? 'Accepted' : 'Discarded' }}</span>
								</td>
								<td>
									<button *ngIf="!proposal.data[1]" (click)="showVoteDialog(proposal.address)" class="btn btn-primary">Vote</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- vote dialog -->
<p-dialog header="Voting" [visible]="displayVoteDialog" [modal]="true" [closable]="false">
		<form [formGroup]="formVote">
			<div class="form-group row">
				<label class="col-sm-12 form-control-label">Your choice</label>
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-12">
							<select formControlName="vote" class="form-control" placeholder="Your choice">
								<option value="true">Yes</option>
								<option value="false">No</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</form>
        <p-footer>
            <button [disabled]="!formVote.valid" type="button" (click)="vote()" class="btn btn-primary">Vote</button>
            <button type="button" (click)="displayVoteDialog = false" class="btn">Cancel</button>
        </p-footer>
</p-dialog>
