<header>
	<h1 class="h3 display">For listener</h1>
</header>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div>
					<form [formGroup]="formBuyTokens">
						<div class="form-group row">
							<div class="col-sm-12 col-md-3">
								<label class="form-control-label mb-0">Buy DZT</label>
								<div><span class="text-small text-gray help-block-none">For DZT you can become the next guest or buy ads for the next episode</span></div>
							</div>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input type="number" formControlName="ethSum" class="form-control" placeholder="Amount in ETH">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formBuyTokens.valid" (click)="runBuyTokens()" type="button" class="btn btn-primary">Buy</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div>
					<div class="form-group row">
						<div class="col-sm-12 col-md-3">
							<label class="form-control-label mb-0">Become the next guest</label>
							<div><span class="text-small text-gray help-block-none">To become the next guest you should put {{ becomeGuestStakeInEth }} DZT at stake. If you miss the show then your DZT at stake are burnt.</span></div>
						</div>
						<div class="col-sm-12 col-md-9">
							<div class="row">
								<div class="col-md-4">
									<button (click)="displayBecomeTheNextShowGuestDialog = true" type="button" class="btn btn-primary">Execute</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- become the next show guest dialog -->
<p-dialog header="Become the next guest" [visible]="displayBecomeTheNextShowGuestDialog" [modal]="true" [closable]="false">
		<p>To become a guest you need to put {{ becomeGuestStakeInEth }} DZT at stake. Are you sure?</p>
        <p-footer>
            <button type="button" (click)="runBecomeTheNextShowGuest()" class="btn btn-primary">Ok</button>
            <button type="button" (click)="displayBecomeTheNextShowGuestDialog = false" class="btn">Cancel</button>
        </p-footer>
</p-dialog>
