<header> 
	<h1 class="h3 display">Settings</h1>
	<div><span class="text-small help-block-none">Each method creates a voting</span></div>
</header>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div>
					<form [formGroup]="formDaoParams">
						<div class="form-group row">
							<div class="col-sm-12 col-md-3">
								<label class="form-control-label mb-0">Amount of DZT created each week</label>
								<div><span class="text-small text-gray help-block-none">This amount of DZT is minted each week when new episode is created</span></div>
							</div>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input type="number" formControlName="mintTokensPerWeekAmount" class="form-control" placeholder="Amount of DZT created each week">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formDaoParams.controls['mintTokensPerWeekAmount'].valid" (click)="runSetParam(devZenDaoService.PARAM_MINT_TOKENS_PER_WEEK_AMOUNT)" type="button" class="btn btn-primary">Update</button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12 col-md-3">
								<label class="form-control-label mb-0">Amount of DZTREP created each week</label>
								<div><span class="text-small text-gray help-block-none">This amount of DZTREP is minted each week when new episode is created</span></div>
							</div>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input type="number" formControlName="mintReputationTokensPerWeekAmount" class="form-control" placeholder="Amount of DZTREP created each week">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formDaoParams.controls['mintReputationTokensPerWeekAmount'].valid" (click)="runSetParam(devZenDaoService.PARAM_MINT_REPUTATION_TOKENS_PER_WEEK_AMOUNT)" type="button" class="btn btn-primary">Update</button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12 col-md-3">
								<label class="form-control-label mb-0">Price for 1 DZT in ETH</label>
								<div><span class="text-small text-gray help-block-none">You can buy ads or become the next guest with DZT</span></div>
							</div>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input type="number" formControlName="oneTokenPriceInWei" class="form-control" placeholder="Price for 1 DZT in ETH">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formDaoParams.controls['oneTokenPriceInWei'].valid" (click)="runSetParam(devZenDaoService.PARAM_ONE_TOKEN_PRICE_IN_WEI)" type="button" class="btn btn-primary">Update</button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12 col-md-3">
								<label class="form-control-label mb-0">Price for 1 ad slot in DZT</label>
								<div><span class="text-small text-gray help-block-none">You can buy ads with DZT</span></div>
							</div>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input type="number" formControlName="oneAdSlotPrice" class="form-control" placeholder="Price for 1 ad slot in ETH">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formDaoParams.controls['oneAdSlotPrice'].valid" (click)="runSetParam(devZenDaoService.PARAM_ONE_AD_SLOT_PRICE)" type="button" class="btn btn-primary">Update</button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12 col-md-3">
								<label class="form-control-label mb-0">Guest stake in DZT</label>
								<div><span class="text-small text-gray help-block-none">To become a guest user should put some DZT at stake</span></div>
							</div>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input type="number" formControlName="becomeGuestStake" class="form-control" placeholder="Guest stake in DZT">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formDaoParams.controls['becomeGuestStake'].valid" (click)="runSetParam(devZenDaoService.PARAM_BECOME_GUEST_STAKE)" type="button" class="btn btn-primary">Update</button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12 col-md-3">
								<label class="form-control-label mb-0">Host reward for episode in DZTREP</label>
								<div><span class="text-small text-gray help-block-none">When episode ends host gets this amount of DZTREP</span></div>
							</div>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input type="number" formControlName="repTokensRewardHost" class="form-control" placeholder="Host reward for episode in DZTREP">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formDaoParams.controls['repTokensRewardHost'].valid" (click)="runSetParam(devZenDaoService.PARAM_REP_TOKENS_REWARD_HOST)" type="button" class="btn btn-primary">Update</button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12 col-md-3">
								<label class="form-control-label mb-0">Guest reward for episode in DZTREP</label>
								<div><span class="text-small text-gray help-block-none">When episode ends guest gets this amount of DZTREP</span></div>
							</div>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input type="number" formControlName="repTokensRewardGuest" class="form-control" placeholder="Guest reward for episode in DZTREP">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formDaoParams.controls['repTokensRewardGuest'].valid" (click)="runSetParam(devZenDaoService.PARAM_REP_TOKENS_REWARD_GUEST)" type="button" class="btn btn-primary">Update</button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12 col-md-3">
								<label class="form-control-label mb-0">Reward of all team members for episode in DZTREP</label>
								<div><span class="text-small text-gray help-block-none">When episode ends all team members(not each) get this amount of DZTREP</span></div>
							</div>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input type="number" formControlName="repTokensRewardTeamMembers" class="form-control" placeholder="Reward of all team members for episode in DZTREP">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formDaoParams.controls['repTokensRewardTeamMembers'].valid" (click)="runSetParam(devZenDaoService.PARAM_REP_TOKENS_REWARD_TEAM_MEMBERS)" type="button" class="btn btn-primary">Update</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
