:host >>> .mat-grid-tile .mat-figure {
	align-items: end;
	justify-content: end;
}

.card-dao-param {
	width: 100%;
}

.card-dao-param .form-dao-params {
	display: flex;
	flex-direction: column;
}

.card-dao-param .method-btn {
	width: fit-content;
}