<header>
	<h1 class="h3 display">Для рекламодателя</h1>
</header>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div>
					<form [formGroup]="formRunAdsInTheNextEpisode">
						<div class="form-group row">
							<label class="col-sm-12 col-md-3 form-control-label">Купить рекламное место</label>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input type="text" formControlName="adText" class="form-control" placeholder="Текст рекламы">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formRunAdsInTheNextEpisode.valid" (click)="runAdsInTheNextEpisode()" type="button" class="btn btn-primary">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
