<header>
	<h1 class="h3 display">For advertiser</h1>
</header>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div>
					<form [formGroup]="formRunAdsInTheNextEpisode">
						<div class="form-group row">
							<div class="col-sm-12 col-md-3">
								<label class="form-control-label mb-0">Buy ad slot</label>
								<div><span class="text-small text-gray help-block-none">This advertisement will run in the next show</span></div>
							</div>
							<div class="col-sm-12 col-md-9">
								<div class="row">
									<div class="col-md-4">
										<input type="text" formControlName="adText" class="form-control" placeholder="Ad text">
									</div>
									<div class="col-md-4">
										<button [disabled]="!formRunAdsInTheNextEpisode.valid" (click)="runAdsInTheNextEpisode()" type="button" class="btn btn-primary">Buy</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
