/* Toolbar */
.toolbar-spacer {
	flex: 1 1 auto;
}

.toolbar-balance {
	padding: 0 14px;
}

/* Sidenav */
.sidenav-container {
	position: absolute;
	left: 0;
	top: 64px;
	right: 0;
	bottom: 0;
}

.mat-sidenav {
	min-width: 200px;
}

.mat-sidenav-content {
	padding: 3% 3%;
}

/* Sidenav buttons */
.mat-sidenav button {
	width: 100%;
	margin-bottom: 2%;
}
