<!-- side navbar -->
<nav class="side-navbar">
	<div class="side-navbar-wrapper">
		<!-- header -->
		<div class="sidenav-header d-flex align-items-center justify-content-center">
			<!-- info-->
			<div class="sidenav-header-inner text-center">
				<h2 class="h5">DevZenDao</h2>
			</div>
			<!-- small info, appears on minimized sidebar-->
			<div class="sidenav-header-logo">
				<a routerLink="home" class="brand-small text-center"><strong>D</strong><strong class="text-primary">Z</strong><strong>D</strong></a>
			</div>
		</div>
		<!-- sidebar menu-->
		<div class="main-menu">
			<ul id="side-main-menu" class="side-menu list-unstyled">                  
				<li><a routerLink="home"><i class="icon-home"></i>Home</a></li>
				<li><a routerLink="dao-param-page"><i class="icon-list"></i>DAO params</a></li>
				<li><a routerLink="team-page"><i class="icon-grid"></i>Team</a></li>
				<li><a routerLink="patron-page"><i class="icon-padnote"></i>For advertiser</a></li>
				<li><a routerLink="outsider-page"><i class="icon-user"></i>For listener</a></li>
				<li><a routerLink="group-member"><i class="icon-list-1"></i>Group</a></li>
				<li><a routerLink="proposal"><i class="icon-pencil-case"></i>Proposals</a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- main page -->
<div class="page">
	<!-- navbar-->
	<header class="header">
		<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-holder d-flex align-items-center justify-content-between">
			<div class="navbar-header">
				<a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"></i></a>
			</div>
			<ul *ngIf="isToolbarLoading" class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center text-white">
				<li><p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner></li>
			</ul>
			<ul *ngIf="!isToolbarLoading" class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center text-white">
				<li class="nav-item pr-3">
					<i class="fab fa-ethereum"></i> {{ ethBalance }} ETH
				</li>
				<li class="nav-item pr-3">
					<i class="fas fa-money-bill"></i> {{ dztBalance }} DZT
				</li>
				<li class="nav-item pr-3">
					<i class="fas fa-money-bill-alt"></i> {{ dztRepBalance }} DZTREP
				</li>
			</ul>
			</div>
		</div>
		</nav>
	</header>
	<!-- content -->
	<section class="dashboard-counts section-padding">
		<div class="container-fluid">
			<router-outlet></router-outlet>
		</div>
	</section>
	<!-- footer -->
	<footer class="main-footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<p>DevZenDao 2018</p>
				</div>
				<div class="col-sm-6 text-right">
					<img class="img-fluid mr-2 footer-logo" src="https://web.thetta.io/images/butterfly.png" alt="Thetta DAO Framework">
					<a href="https://web.thetta.io/" target="_blank">Powered by Thetta DAO Framework</a>
				</div>
			</div>
		</div>
	</footer>
</div>

<!-- global toast component -->
<p-toast></p-toast>
