<div>

	<mat-toolbar color="primary">
		<span>DevZen DAO</span>
		<span class="toolbar-spacer"></span>
		<span class="toolbar-balance">
			<i class="fab fa-ethereum"></i> 
			<span class="spinner" *ngIf="!isToolbarLoading">{{ ethBalance }}</span>
			<mat-spinner class="spinner" *ngIf="isToolbarLoading" diameter="25"></mat-spinner> ETH
		</span>
		<span class="toolbar-balance">
			<i class="fas fa-money-bill"></i> 
			<span class="spinner" *ngIf="!isToolbarLoading">{{ dztBalance }}</span> 
			<mat-spinner class="spinner" *ngIf="isToolbarLoading" diameter="25"></mat-spinner> DZT
		</span>
		<span class="toolbar-balance">
			<i class="fas fa-money-bill-alt"></i> 
			<span class="spinner" *ngIf="!isToolbarLoading">{{ dztRepBalance }}</span> 
			<mat-spinner class="spinner" *ngIf="isToolbarLoading" diameter="25"></mat-spinner> DZTREP
		</span>
	</mat-toolbar>
	
	<mat-sidenav-container class="sidenav-container">
		<!-- left menu -->
		<mat-sidenav mode="side" opened>
			<mat-list>
				<div>
					<button routerLink="home" mat-raised-button>Главная</button>
				</div>
				<div>
					<button routerLink="dao-param-page" mat-raised-button>Параметры DAO</button>
				</div>
				<div>
					<button routerLink="team-page" mat-raised-button>Команда</button>
				</div>
				<div>
					<button routerLink="patron-page" mat-raised-button>Для рекламодателя</button>
				</div>
				<div>
					<button routerLink="outsider-page" mat-raised-button>Для слушателя</button>
				</div>
				<div>
					<button routerLink="group-member" mat-raised-button>Группа</button>
				</div>
				<div>
					<button routerLink="proposal" mat-raised-button>Предложения</button>
				</div>
			</mat-list>
		</mat-sidenav>
		<!-- content -->
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>	  

	<p>
	  dashboard works!
	</p>	

</div>
